@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway:wght@500&display=swap");
header, footer {
  background-color: #1a4d2e; }
  header .nav-link, footer .nav-link {
    font-family: Raleway;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1rem;
    text-transform: uppercase; }
    header .nav-link:hover, footer .nav-link:hover {
      color: #efa229;
      font-weight: bold; }

footer h6 {
  font-family: Raleway;
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0; }

footer p, footer a {
  font-family: Raleway;
  text-decoration: none;
  color: #f3f3f3;
  font-size: 0.9rem;
  text-transform: none; }
  footer p:hover, footer a:hover {
    color: #efa229; }

footer .bi-instagram {
  color: #f3f3f3;
  padding: .4rem;
  border: solid #f3f3f3 2px;
  font-size: 1.3rem; }
  footer .bi-instagram:hover {
    color: #E1306C;
    padding: .4rem;
    border: solid #E1306C 2px;
    font-size: 1.5rem; }

footer .bi-facebook {
  color: #f3f3f3;
  padding: .4rem;
  border: solid #f3f3f3 2px;
  font-size: 1.3rem; }
  footer .bi-facebook:hover {
    color: #3b5998;
    padding: .4rem;
    border: solid #3b5998 2px;
    font-size: 1.5rem; }

.main-contacto {
  background-image: url(../assets/img/otoño-naturaleza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .main-contacto h1 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #efa229;
    font-size: 2rem;
    font-family: Raleway; }
  .main-contacto form {
    background-color: rgba(0, 0, 0, 0.5); }
    .main-contacto form label {
      font-family: Raleway;
      text-decoration: none;
      color: #efa229;
      font-size: 1rem;
      text-transform: capitalize;
      width: 100%; }
    .main-contacto form input, .main-contacto form #mensaje {
      width: 100%;
      padding: 0px;
      margin: 1rem 0;
      height: 2rem; }
    .main-contacto form button {
      background: none;
      font-family: Raleway;
      text-decoration: none;
      color: #efa229;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 6px 12px;
      border: solid #efa229 1px; }
      .main-contacto form button:hover {
        background-color: #f3b24a;
        color: #f3f3f3; }

.section-contacto {
  background-color: #efa229; }
  .section-contacto h2 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #f3f3f3;
    font-size: 2rem;
    font-family: Raleway; }
  .section-contacto .section-ubicacion {
    background-color: rgba(0, 0, 0, 0.5); }
  .section-contacto p {
    font-family: Raleway;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: auto; }

.bodyIndex {
  background-color: #f3b24a; }
  .bodyIndex h1, .bodyIndex h3 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #f3f3f3;
    font-size: 4rem;
    font-family: Amatic SC; }
  .bodyIndex #carouselExampleFade img {
    filter: brightness(0.7); }
  .bodyIndex .btn:hover {
    background-color: #f3b24a;
    color: #f3f3f3; }
  .bodyIndex .card {
    max-width: 250px; }
    .bodyIndex .card img {
      filter: brightness(0.6); }

@media only screen and (max-width: 700px) {
  .bodyIndex h1, .bodyIndex h3 {
    font-size: 3rem; }
  h2 {
    font-size: .5rem; }
  .bt {
    display: none; } }

@media only screen and (max-width: 500px) {
  .bodyIndex h1, .bodyIndex h3 {
    font-size: 1.3rem; }
  h2 {
    font-size: 1rem; } }

.bodyNosotros h1 {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #1a4d2e;
  font-size: 2rem;
  font-family: Raleway; }

.bodyNosotros main p {
  font-family: Raleway;
  text-decoration: none;
  color: #333333;
  font-size: 1.2rem;
  text-transform: none; }

.bodyNosotros section {
  background-color: #f3b24a;
  padding: 1rem 0;
  height: auto; }

.bodyNosotros img {
  transition: transform .2s; }
  .bodyNosotros img:hover {
    transform: scale(1.1); }

.bodyNosotros .carousel-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0;
  height: auto; }

.bodyNosotros h2 {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #f3f3f3;
  font-size: 2rem;
  font-family: Raleway;
  padding-bottom: 1rem;
  margin: 0; }

.bodyNosotros h3 {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #f3f3f3;
  font-size: 1rem;
  font-family: Raleway; }

.bodyNosotros p {
  font-family: Raleway;
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1rem;
  text-transform: none; }

.bg-galeria {
  background-color: #f3b24a; }
  .bg-galeria h1 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #1a4d2e;
    font-size: 2rem;
    font-family: Raleway; }
  .bg-galeria h2 {
    font-family: Raleway;
    text-decoration: none;
    color: #333333;
    font-size: 1.5rem;
    text-transform: none; }
  .bg-galeria section {
    background-color: rgba(0, 0, 0, 0.5); }
  .bg-galeria img {
    transition: transform .2s; }
    .bg-galeria img:hover {
      transform: scale(1.2); }

.bodyServicios {
  background-color: #f3b24a; }
  .bodyServicios h1 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #1a4d2e;
    font-size: 2rem;
    font-family: Raleway; }
  .bodyServicios h3 {
    font-family: Raleway;
    text-decoration: none;
    color: #1a4d2e;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600; }
  .bodyServicios li {
    font-family: Raleway;
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    text-transform: capitalize;
    list-style: none; }
