@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway:wght@500&display=swap");
header {
  background-color: #019267;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }
  header .nav-link {
    color: white;
    font-size: 1rem; }
    header .nav-link:hover {
      color: #019267;
      background-color: white; }

#carouselExampleFade img {
  filter: brightness(0.7); }

#carouselExampleFade h1 {
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  color: white; }

.card {
  max-width: 250px;
  transition: 2s; }
  .card img {
    filter: brightness(0.6); }

.bg-claro {
  background-color: #fdffa9; }
  .bg-claro li {
    list-style-type: none; }

.bg-oscuro {
  background-color: #ffd365; }
  .bg-oscuro li {
    list-style-type: none; }

.zoom {
  transition: transform .2s; }

.zoom:hover {
  transform: scale(1.2); }

.bg-galeria {
  background-image: url(../assets/img/fondogranja.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .bg-galeria h1 {
    color: #ffd365; }

.bg-galeria-oscuro {
  background-color: rgba(0, 0, 0, 0.4); }

.main-contacto {
  background-image: url(../assets/img/fondogranja.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .main-contacto form {
    background-color: rgba(0, 0, 0, 0.3); }
    .main-contacto form h1, .main-contacto form label {
      color: #ffd365; }

.section-contacto {
  background-color: #ffd365; }

footer {
  background-color: #019267;
  font-family: 'Raleway', sans-serif; }
  footer h6 {
    color: white; }
  footer a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none; }
