// ESTILO HEADER

header { background-color: $bgPrimary ;

        .nav-link { @include fontStyle ( $colorTextPrimary, 1rem,uppercase)

        	&:hover { color:$colorTextSecundary; font-weight:bold;}}
        		}

footer {@extend header; 

		h6 { @extend .nav-link;
				&:hover {color: $colorTextPrimary} } 

		a {@include fontStyle ($colorTextPrimary, .9rem, none)}


		small {color: $colorTextBlack;}		
			}

