// clase de utilidad margin y padding 0
.mP0{ margin: 0; padding: 0;}

.header { @include flexColumnCenter; padding: 0 12px; height: 127px;
			a {width: 116px; height: 91px;}
			img {margin-right: 1rem}
			ul {@include flexRowCenter;}
			li {list-style: none}
				a {@include fontStyle ($colorTextPrimary, 1rem,uppercase);  padding: 4px 8px 8px ; margin-left: 8px;
								&:hover { color:$colorTextSecundary; font-weight:bold;}}}

.main{ background: { image:url(../assets/img/otoño-naturaleza.jpg) ;
					repeat: no-repeat;
					size: cover;
					attachment: fixed ;}
				h1 { background-color: $bgOpacity; padding: 10px; margin: 0; }
				form { background-color: $bgOpacity;}
			 	label {color: $colorTextSecundary;}
			 		input { margin: 1rem}}





.footer { display: flex; flex-flow: wrap column; justify-content: space-around; padding: 1.5rem;

		.footerContainer {display: flex; flex-flow: wrap row; justify-content: space-evenly;}}


.form {@include flexColumnCenter }

.section {@include flexColumnCenter; width: 100%;height: auto;background-color: $bgSecundaryLight;

	.ubicacionContainer{ @include flexRowCenter}}