.nav-link { color: $colorTextPrimary; text-transform: uppercase; font-family: Raleway; font-size: 1rem; }

footer { @extend .nav-link; 
	a {text-decoration: none;  font-size: 0.9rem; text-transform: none; color: $colorTextPrimary; }
		 }
		 