.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.2); 
}

.bg-galeria {   background: { image:url(../assets/img/fondogranja.png) ;
                repeat: no-repeat;
                size: cover;
                attachment: fixed ;
             }
            
        }        
.bg-galeria-oscuro {background-color: rgba(0,0, 0, .4);}   