header { background-color:  $bgPrimary;  font-family: 'Raleway', sans-serif; text-transform: uppercase;
			.nav-link{ color: $colorTextPrimary; font-size: 1rem;
				&:hover { color: $bgPrimary; background-color: $colorTextPrimary;}
			 }
	 }