// ESTILO HEADER Y FOOTER

header { background-color: $bgPrimary ;
        .nav-link { @include fontStyle ( $colorTextPrimary, 1rem,uppercase)
        	&:hover { color:$colorTextSecundary; font-weight:bold;}}}

footer { @extend header; 
		h6 { @include fontStyle ($colorTextPrimary, 1rem,uppercase); padding: 1rem 0;}
		p,a{ @include fontStyle ($colorTextPrimary, .9rem, none);
			&:hover {color:$colorTextSecundary}}

		.bi-instagram {@include rrss($colorTextPrimary,$colorTextPrimary, 1.3rem)
			&:hover {@include rrss($insta,$insta, 1.5rem)}}
		.bi-facebook {@include rrss($colorTextPrimary,$colorTextPrimary, 1.3rem);
			&:hover {@include rrss($fb,$fb, 1.5rem)}
		}} 