// mixin para los h1

@mixin fontStyle ($color, $fSize, $fFamily,$t-transform, $lSpacing) {
	text-decoration: none;
	text-align: center;
	color: $color;
	font-size: $fSize;
	font-family: $fFamily;
	text-transform: $t-transform;
	letter-spacing: $lSpacing;
}

// estilo de todos los h1 del sitio
h1 { @include fontStyle ($colorTextSecundary,2.5rem,Raleway,uppercase, 3px)}


	


