// mixin para los h1

@mixin h1Style ($color, $fSize, $fFamily) {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: $color;
	font-size: $fSize;
	font-family: $fFamily;
}

// estilo de todos los h1 del sitio
h1 { @include h1Style ($colorTextSecundary, 2rem,Raleway)}

// mixin para los estilos de fuente de todo el sitio 
@mixin fontStyle ($color,$fSize, $tTransform) {

	font-family: Raleway;
	text-decoration: none;
	text-align: center;
	color: $color;
	font-size: $fSize;
	text-transform: $tTransform;}


// mixin sin parametro para h1 y header

@mixin bgH1 {background-color: $bgPrimary;height: 10rem; padding-top: 5rem;}