// VARIABLES PARA COLORES DE FONDO
$bgPrimary: rgb(26, 77, 46);
$bgSecundary:  #efa229; 
$bgSecundaryLight: #f3b24a ; 

// VARIABLES PARA COLOR DE LETRA
$colorTextPrimary:   #f3f3f3 ;
$colorTextSecundary: #efa229  ;
$colorTextBlack:  #333333;

// VARIABLES TAMAÑO DE LETRA
$fSizeIndex: 65px; 


