.main-contacto {
	background: { image:url(../assets/img/fondogranja.png) ;
				repeat: no-repeat;
				size: cover;
				attachment: fixed ;}
			form { background-color: rgba(0,0, 0, .3);
				h1, label {color: rgb(255, 211, 101)
					
			}
		} 			
}
.section-contacto {background-color:  rgb(255, 211, 101);}