 #carouselExampleFade {img {filter:brightness(.7)} h1 {font-size: 3rem; font-family:'Amatic SC', cursive; color: white }}

 .card { max-width:250px; transition: 2s;

            img {filter:brightness(.6);
            }}




    
    
